<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363506136528-sudi9cqroir0aoll7qo6ql355p20nn4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363506136528-sudi9cqroir0aoll7qo6ql355p20nn4a</string>
	<key>API_KEY</key>
	<string>AIzaSyBm7Beu94lAbfNLc-PXlms6hr5uaNgHHeM</string>
	<key>GCM_SENDER_ID</key>
	<string>363506136528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.archive.calculator</string>
	<key>PROJECT_ID</key>
	<string>mycalculatorproject-234da</string>
	<key>STORAGE_BUCKET</key>
	<string>mycalculatorproject-234da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363506136528:ios:5b1aaa73820bd3176775d5</string>
	<key>DATABASE_URL</key>
	<string>https://mycalculatorproject-234da.firebaseio.com</string>
</dict>
</plist>